body {
    font-family: sans-serif;
    background-color: #ffffff;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#nav_bar {
    margin-bottom: 0;
    padding: 0;
    background-color: #ffffff;
    border: none;
}

.weather {
    color: #276cad !important;
    font-size: 20px;
    font-weight: 600;
}

#nav_list > li > a {
    color: #276cad !important;
    font-weight: 500;
    font-size: 18px;
}

#nav_list > li > a:hover {
    color: coral !important;
}

#logo {
    max-height: 42px;
    margin-right: 8px;
    display: inline-block;
    margin-top: -15px;
}

#headRow {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/bg.jpg);
    background-size: cover;
    height: 450px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

#colHeadText1 {
    color: white;
    font-size: 50px;
}

#colHeadText2 {
    color: white;
    font-size: 30px;
}

ul#list_item {
    color: white;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}

#list_item li {
    padding-right: 25px;
}

a:hover {
    color: coral !important;
}





























